<div class="compo">
<div class="container" mat-elevation-z5>
	<div class="header">
		<h1 class="titulo">Educación</h1>
		<button mat-raised-button *ngIf="isLogged" class="icono-añadir" routerLink="/new-educacion"
			matTooltip="Agregar Educacion" matTooltipClass="custom-tooltip" matTooltipPosition="right"><!-- type="button"  -->
			Agregar Educacion
		</button>
	</div>
	<div *ngFor="let Educacion of educacion; let i = index " [attr.data-index]="i" (click)="selectItem(Educacion);"
		class="records">
		<div class="record">
			<div class="buttons" *ngIf="isLogged"><!--  -->
				<button mat-raised-button class="icono-editar" routerLink="/edit-educacion/{{ Educacion.id }}" matTooltip="Editar" matTooltipClass="custom-tooltip"  matTooltipPosition="right">
					<span class="icon">✏️</span>
				</button>
				<button mat-raised-button class="icono-borrar" (click)="onDelete(i,$event)" matTooltip="Borrar" matTooltipClass="custom-tooltip"  matTooltipPosition="right">
					<span class="icon">🗑️</span>
				</button>
			</div>
			<div class="details">
				<div class="image">
					<img src="{{ Educacion.img }}" alt="education_ {{ Educacion.id }}" />
				</div>
				<div class="info">
					<h2>👊 Titulo: {{ Educacion.titulo }}</h2>
					<h4>🏫 Establecimiento: {{ Educacion.nombreE }}</h4>
					<h5>📅 Periodo: {{ Educacion.periodo }}</h5>
					<p id="preline">Descripción: {{ Educacion.descripcionE }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
