<div class="d-flex container-fluid border shadow">
  <h1>Registro de usuario</h1>

  <form name="formReg" [formGroup ]="formReg">
    <input type="text" name="nombres" id="nombres" class="form-control">
    <input type="text" name="apellido" id="apellido" class="form-control">
    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control">
    <input type="text" name="nacionalidad" id="nacionalidad" class="form-control">
    <input type="text" name="mail" id="mail" class="form-control">
    <input type="password" name="password" id="password" class="form-control">
    <input type="sobre_mi" name="sobre_mi" id="sobre_mi" class="form-control">
    <input type="text" name="ocupacion" id="ocupacion" class="form-control">
    <input type="text" name="bannerUrl" id="bannerUrl" class="form-control">
    <input type="text" name="image_background_header" id="image_background_header" class="form-control">
    <input type="text" name="image_perfil" id="image_perfil" class="form-control">
    <input type="text" name="linkedinUrl" id="linkedinUrl" class="form-control">
    <input type="text" name="githubUrl" id="githubUrl" class="form-control">
    <input type="text" name="descripcion" id="descripcion" class="form-control">
    <input type="text" name="imgUrl" id="imgUrl" class="form-control">
    <button type="submit">Enviar</button>
    <button class="btn danger">Cancelar</button>
  </form>
</div>