<div class="card mat-card d-flex container-fluid chefooter fs-5 footer-card">
	<br>
	<p class="fs-6">Proyecto Integrador Argentina Programa</p>
	<p class="fs-6">Backend hecho con Spring framework | Frontend hecho en TypeScript con Angular framework.</p>
	<p class="fs-6">2023 © HERNAN CANESTRARO</p>
	<a href="mailto:hernancanestraro.dev@gmail.com" matTooltip="Enviar un mensaje al programador...">
		<p class="fs-6">Enviar un Email a: hernancanestraro.dev@gmail.com</p>
	</a>
	<!-- <button mat-raised-button color="primary" (click)="abrirDialog()" matTooltip="Información sobre la aplicación...">Info</button> -->
	<p class="fs-6">Gracias por usar la aplicación!!!</p>
	<br>
</div>