<div id="footer" class="card mat-card row">
	<p>Proyecto Integrador Argentina Programa | "Yo Programo2" | Portafolio/CV Personal. | </p>
	<p>Backend hecho en Java con Spring framework | Frontend hecho en TypeScript con Angular framework.</p>
	<p>2023 © HERNAN CANESTRARO</p>
	<div class="d-flex container-fluid align-items-center justify-content-center">
		<button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
			title="Go to Información Page...">Info</button>
	</div>
	<div class="d-flex justify-content-between">
		<div class="col text-center">
			<div class="social-links">
				<div class="social-btn flex-center">

					<a href="mailto:hernancanestraro.dev@gmail.com">
						<img src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/gmail-d.png?alt=media&token=53b82a3a-b3ea-4052-8b4d-ff90623dea2d"
							alt="Gmail" id="gmail" width="24" height="24" viewBox="0 0 24 24">
						<span>hernancanestraro.dev&#64;gmail.com</span>
					</a>
				</div>
			</div>
		</div>
	</div>
		<p>Gracias por usar la aplicación!!!</p>
</div>