<div id="footer">
	<p>Proyecto Integrador Argentina Programa | "Yo Programo2" | Portafolio/CV Personal. | </p>
	<p>Backend hecho en Java con Spring framework | Frontend hecho en TypeScript con Angular framework.</p>
	<p>2023 © HERNAN CANESTRARO</p>
	<div class="d-flex container-fluid align-items-center justify-content-center">
		<button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
			title="Go to Información Page...">Info</button>
	</div>
	<a href="mailto:hernancanestraro.dev@gmail.com">
		<p>Enviar un Email a: hernancanestraro.dev&#64;gmail.com</p>
	</a>
	<p>Gracias por usar la aplicación!!!</p>
</div>