<div class="divgrid">

	<div class="columna">
		<a href="https://argentinaprograma.inti.gob.ar" target="_blank" data-bs-toggle="tooltip"
			data-bs-placement="bottom" title="Go to Argentina Programa...">
			<img class="logoInti"
				src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/logoArgProg.png?alt=media&token=abb59739-47fa-4585-9fbd-ad7d7c36a9ed"
				alt="INTI...">
		</a>
	</div>

	<div class="columna d-flex justify-content-center align-items-center" id="nvtext">
		<h1 class="ttit">Integrator Project</h1>
	</div>

	<div class="columna d-flex justify-content-center align-items-center iconos">
		<div>
			<a href="https://github.com/HCanestraro" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
				title="Go to GitHub...">
				<img class="logos m-1 shadow rounded p-1"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/logo-github.svg?alt=media&token=3e2cef89-71db-4f14-8832-722cf7e15bb8"
					alt="GitHub...">
			</a>
		</div>
		<div>
			<a href="https://instagram.com/@canestraro-che" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Instagram...">
				<img class="logos"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/cheinstagram.png?alt=media&token=77cdf397-bac9-4f0f-b613-2e7865d2d1b9"
					alt="Instagram...">
			</a>
		</div>
		<div>
			<a href="https://www.twitter.com/@canestraro-che" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to X (ex-Twitter)...">
				<img class="logos"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/x-Twitter.jpg?alt=media&token=a4ea6cd4-f7ae-4ebb-a493-a9083cc4a29c"
					alt="X Ex-Twitter...">
			</a>
		</div>
		<div>
			<a href="https://ar.linkedin.com/in/hernan-canestraro-44448435" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Linkedin..">
				<img class="logos"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/chelinkedin.png?alt=media&token=b0cac579-0286-4c34-9d38-e42e190bb13c"
					alt="Linkedin...">
			</a>
		</div>
		<div>
			<a href="https://sites.google.com/view/HCanestraro" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Google Sites...">
				<img class="logos"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/chegooglesites.jpeg?alt=media&token=f93b024d-0394-45e0-9ff8-d1a4372f362e"
					alt="Google Sites...">
			</a>
		</div>
		<div>
			<a href="https://www.youtube.com/@HCanestraro" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Youtube...">
				<img class="logos"
					src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/cheyoutube.png?alt=media&token=5aaf1f92-1587-4b48-809d-7fbbf25c37d8"
					alt="Youtube...">
			</a>
		</div>
	</div>

	<div class="colunma d-flex justify-content-center align-items-center">
		<div *ngIf="portfolioActive === false">
			<button class="btn btn-info btn-md fw-bold shadow-lg buttonx" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Abrir sesión..." routerLink="/portfolio">MODO EDICIÓN</button>
		</div>
		<div *ngIf="portfolioActive === true">
			<button class="btn btn-dark rounded text-white shadow-lg buttonx" (click)="logout($event)"
				data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cerrar sesión...">TERMINAR EDICIÓN</button>
		</div>
	</div>
</div>