<div class="divgrid">

	<div class="columna">
		<a href="https://argentinaprograma.inti.gob.ar" target="_blank" data-bs-toggle="tooltip"
			data-bs-placement="bottom" title="Go to Argentina Programa...">
			<img class="logoInti" src="./../../../assets/media/logoArgProg.png"
				alt="INTI...">
		</a><!--   src="./../../../assets/media/logoArgProg.png"--><!--src="https://drive.google.com/uc?export=download&id=1-Tg2PGypxz4agdFnBF8rTTUhJFTlrFb-" src="https://drive.google.com/uc?download&id=1YpESKuvXAUsP1TcJ-laFQlsmOKAf8VkP" -->
	</div>

	<div class="columna d-flex justify-content-center align-items-center" id="nvtext">
		<h1 class="ttit">Integrator Project</h1>
	</div>

	<div class="columna d-flex flex-direction-column justify-content-center align-items-center">
		<div>
			<a href="https://github.com/HCanestraro" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom"
				title="Go to GitHub...">
				<img class="logos m-1 shadow rounded p-1"
					src="./../../../assets/media/logo-github.svg"
					alt="GitHub...">
				<!-- <i class="fab fa-github"></i> --><!-- src="https://drive.google.com/uc?export=download&id=1YFszfvj_-afq1bH9tsXXF8zrDOQvHxo-" -->
			</a>
		</div>
		<div>
			<a href="https://instagram.com/@canestraro-che" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Instagram...">
				<img class="logos"
					src="./../../../assets/media/cheinstagram.png"
					alt="Instagram...">
				<!-- <i class="fab fa-instagram"></i> --><!-- src="https://drive.google.com/uc?export=download&id=13jp0SW_F2WCL5qAiRhDlZWXHoUMlN2gR" -->
			</a>
		</div>
		<div>
			<a href="https://www.twitter.com/@canestraro-che" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to X (ex-Twitter)...">
				<img class="logos"
					src="./../../../assets/media/chetwitter.png"
					alt="Twitter...">
				<!-- <i class="fab fa-twitter"></i> --><!-- src="https://drive.google.com/uc?export=download&id=1BXwyUpUm_AnXnh4-xIIUv8gdvYOU0quV" -->
			</a>
		</div>
		<div>
			<a href="https://ar.linkedin.com/in/hernan-canestraro-44448435" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to GitHub...">
				<img class="logos"
					src="./../../../assets/media/chelinkedin.png"
					alt="Linkedin...">
				<!-- <i class="fab fa-linkedin"></i> --><!-- src="https://drive.google.com/uc?export=download&id=1tDmdALAhhy9kS6edRWUqDgt4QJUuXaMd" -->
			</a>
		</div>
		<div>
			<a href="https://sites.google.com/view/HCanestraro" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Google Sites...">
				<img class="logos"
					src="./../../../assets/media/chegooglesites.jpeg"
					alt="Google Sites...">
				<!-- <i class="fab fa-google-sites"></i> --><!-- src="https://drive.google.com/uc?export=download&id=1NuIu3CYzCAZ_F34TH6zXTdHo1-BiP-GP" -->
			</a>
		</div>
		<div>
			<a href="https://www.youtube.com/@HCanestraro" target="_blank" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Go to Youtube...">
				<img class="logos"
					src="./../../../assets/media/cheyoutube.png"
					alt="Youtube...">
				<!-- <i class="fab fa-youtube"></i> --><!-- src="https://drive.google.com/uc?export=download&id=1Fi4F7MzyrKIAIkK3bdNSeZ3oNjb5ly11" -->
			</a>
		</div>
	</div>

	<div class="colunma d-flex justify-content-center align-items-center">
		<div *ngIf="portfolioActive === false">
			<button class="btn btn-info btn-md fw-bold shadow-lg buttonx" data-bs-toggle="tooltip"
				data-bs-placement="bottom" title="Abrir sesión..." routerLink="/portfolio">MODO EDICIÓN</button>
		</div>
		<div *ngIf="portfolioActive === true">
			<button class="btn btn-dark rounded text-white shadow-lg buttonx" (click)="logout($event)"
				data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cerrar sesión...">TERMINAR EDICIÓN</button>
		</div>
	</div>
</div>