<a href="https://www.linkedin.com/" class="social-icon" title="Linkedin...">
	<i class="fa fa-linkedin"></i></a>

<a href="https://github.com/IOTHernan" class="social-icon" title="Github..." title="Github">
	<i class="fa fa-github" title="Github..."></i></a>
<a href="https://instagram.com/@canestraro-che" class="social-icon" title="Instagram...">
	<i class="fa fa-instagram"></i></a>
<a href="https://www.twitter.com/@canestraro-che" class="social-icon" title="Twitter...">
	<i class="fa fa-twitter"></i></a>
<a href="https://sites.google.com/view/HCanestraro" class="social-icon" title="Google sites...">
	<img src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/chegooglesites.jpeg?alt=media&token=65a0ba63-80d6-4cd9-9bad-ac5ed2bdcb81"
		width="24" height="24" alt="Google sites"></a>
<a href="https://www.youtube.com/@HCanestraro" class="social-icon" title="Youtube canal...">
	<i class="fa fa-youtube"></i></a>
