.compo {
  width: 100%;
  margin: 2rem 0rem 2rem 0rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: chartreuse;
}

.welcome {
	color: blue;
  }

  .landing {
	display: flex;
	flex-direction: column;
	padding: 5px;
	background-color: gray;
	align-items: center;
	justify-content: center;
	border: 1px solid brown;
	padding: 5px;
  font-size: medium;
  font-weight: bold;
  }
