.contenedor {
  width: 100%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
              -4px -4px 8px rgba(255, 255, 255, 0.6);
  background-color: #f9f9f9;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  /* border-bottom: 2px solid #34e265ad; */
    border: 2px solid #34e265ad;
    border-radius: 5px;
    background-color: darkgray;
flex-direction: column;

  padding-bottom: 10px;
}

.icono-anadir {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s;
  margin-right: 2vw;
}

.icono-anadir:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 2px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 2px;
}

.icono-editar, .icono-borrar {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s;
}

.icono-borrar {
  background-color: #dc3545;
}

.icono-editar:hover, .icono-borrar:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.contenido {
  display: flex;
  border: 2px solid #ccc;
  padding-top: 5px;
}

.imagen {
  flex: 0 0 25%;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.imagen img {
  width: 100%;
  height: -webkit-fill-available;
  height: auto;
  margin-top: 20px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.informacion {
  flex: 1;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* --------------------------------------------- */

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.labels {
  margin-top: 20px;
}

.container {
  border: solid;
  border-color: black;
}
