<div class="contenedor">
  <div class="encabezado">
    <h1>Hard & Soft Skills</h1>
    <button type="button" routerLink="/new-hys" class="icono-añadir" title="Agregar Skill">
      Agregar Skill
    </button>
  </div>
  <div *ngFor="let skill of skill; let i = index" [attr.data-index]="i" (click)="selectItem(skill)">
    <div class="acciones">
      <button class="icono-editar" routerLink="/edit-hys/{{ skill.id }}" title="Editar">
        <i class="bi bi-pencil-fill"></i>
      </button>
      <button class="icono-borrar" (click)="delete(skill.id!)" title="Borrar">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <div class="contenido">
      <!-- Elementos relacionados con cada skill -->
      <h3>{{ skill.nombre }}</h3>
      <h3>{{ skill.porcentaje }}</h3>
      <circle-progress [percent]="skill.porcentaje" [radius]="90" [showImage]="true" [imageSrc]="skill.img"
        [showTitle]="false" [showSubtitle]="false" [imageHeight]="80" [imageWidth]="80" [subtitleColor]="'#FFFFFF'"
        [outerStrokeWidth]="5" [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#FFFFFF'" [showInnerStroke]="false"
        [animation]="true" [animationDuration]="300" [backgroundColor]="'#000000'">
      </circle-progress>
    </div>
  </div>
</div>
