<div class="compo">
    <div class="container" mat-elevation-z5>
        <div class="header">
            <h1>Hard & Soft Skills</h1>
            <button mat-raised-button routerLink="/new-hys" class="icono-añadir" matTooltip="Agregar Skill"
                matTooltipClass="custom-tooltip" matTooltipPosition="right">
                Agregar Skill
            </button>
        </div>
        <div *ngFor="let skill of skill; let i = index" [attr.data-index]="i" (click)="selectItem(skill)">
            <div class="records">
                <div class="record">
                    <div class="buttons" *ngIf="isLogged"><!--  -->

                        <button mat-raised-button class="icono-editar" routerLink="/edit-hys/{{ skill.id }}"
                            matTooltip="Editar" matTooltipClass="custom-tooltip" matTooltipPosition="right">
                            <span class="icon">✏️</span>
                        </button>
<p>kkkkkkkk</p>
                        <button mat-raised-button class="icono-borrar" (click)="delete(skill.id!)" matTooltip="Borrar"
                            matTooltipClass="custom-tooltip" matTooltipPosition="right">
                            <span class="icon">🗑️</span>
                        </button>
                    </div>
                </div>
                <div class="details">
                    <!-- Elementos relacionados con cada skill -->
                    <div class="column">
                        <h3>{{ skill.nombre }}</h3>
                    </div>
                    <div class="column">
                        <h3>{{ skill.porcentaje }}</h3>
                    </div>
                    <div class="column">
                        <circle-progress [percent]="skill.porcentaje" [radius]="90" [showImage]="true"
                            [imageSrc]="skill.img" [showTitle]="false" [showSubtitle]="false" [imageHeight]="80"
                            [imageWidth]="80" [subtitleColor]="'#FFFFFF'" [outerStrokeWidth]="5"
                            [outerStrokeColor]="'#FFFFFF'" [innerStrokeColor]="'#FFFFFF'" [showInnerStroke]="false"
                            [animation]="true" [animationDuration]="300" [backgroundColor]="'#000000'">
                        </circle-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
