.login {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: gray;
  align-items: center;
  justify-content: center;
  border: 1px solid brown;
  padding: 5px;
}
.sign-up-link {
  font-size: 1.2rem;
  margin-left: 8px;
}
