<app-navbar></app-navbar>
<div class="container-fluid imagen-fondo d-flex justify-content-center">
	<div class="row justify-content-center col-10">
		<!-- <form class="m-5 col-md-4 col-sm-10 bg-white p-3 rounded shadow" (ngSubmit)="onLogin($event)"> -->
			<form name="loginForm" [formGroup]="loginForm" (ngSubmit)="ingresar()" id="loginForm" class="shadow col-sm-6 p-4 m-auto">	<!-- [formGroup]="form" -->
			<h3 class="text-center text-info">MI PORTAFOLIO</h3>
			<div class="mb-3 mt-3">
				<label for="exampleInputnombreUsuario1" class="form-label">Nombre de usuario</label>
				<input type="text" formControlName="nombreUsuario" [ngClass]="{'is-invalid': username?.errors && username?.touched,
					 'is-valid': !username?.errors && username?.touched}" class="form-control"
					id="exampleInputnombreUsuario1" aria-describedby="nombreUsuarioHelp" placeholder="Nombre de usuario"
					tooltip="Ingrese su nombre de usuario...">
				<div *ngIf="username?.errors && username?.touched">
					<p *ngIf="username?.hasError('required')" class="text-danger">
						El nombre de usuario es requerido.
					</p>
					<p *ngIf="username?.hasError('nombreUsuario')" class="text-danger">
						El formato del nombre de usuario debe ser válido.
					</p>
				</div>
			</div>

			<div class="mb-5">
				<label for="exampleInputPassword1" class="form-label">Contraseña</label>
				<input type="password" formControlName="password" tooltip="Ingrese su clave..." [ngClass]="{'is-invalid': password?.errors && password?.touched,
					 'is-valid': !password?.errors && password?.touched}" class="form-control" id="exampleInputPassword1"
					placeholder="Ingrese su clave.">

				<div *ngIf="password?.errors && password?.touched">
					<p *ngIf="password?.hasError('required')" class="text-danger">
						La contraseña es requerida.
					</p>
					<p *ngIf="password?.errors?.['minlength']" class="text-danger">
						La contraseña debe ser de 8 o más caracteres.
					</p>
				</div>

			</div>
			<div *ngIf="mostrarMsj" [ngClass]="!respta.salioBien? 'alert alert-danger': 'alert alert-success'" role="alert" >
				<p *ngIf="respta.msj==''">Enviando datos...</p>
				<p *ngIf="respta.msj!=''">{{respta.msj}}</p>
			</div>
	
			<button type="submit" class="btn btn-skyblue btn-sm w-100 fw-bold border" routerLink="/portfolio">INICIAR SESION</button>
		</form>
	</div>
</div>
<app-footer></app-footer>