<!-- <div class="img-top">
	<img src="{{ persona.imgBanner }}" class="card-img-top img-fluid animate" alt="banner-img" />
</div> -->





<div id="first-card">
	<div id="profile-background" class="img">
		<!-- card-img-top<img src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/bg-ap.jpg?alt=media&token=1f84341a-caa6-49ae-9bbf-b977ef94a926" alt="" id="profile-image"> -->
		<img src="{{ persona.imgBanner }}" class=" img-fluid animate" alt="banner-img" />
	</div>
	<div id="info" style="padding: 16px;">
		<div id="info-img">
			<img class="profile-image" src="{{ persona.img }}"
				alt="">
			<div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
		</div>
		<div id="info-data">
			<div>
				<h1>Nombres: {{ persona.nombre}} Apellido: {{persona.apellido}}</h1>
				<div id="info-company">
					<p>Ocupación: {{persona.descripcion}}</p>
				</div>
				<div id="info-contact">
					Ubicación:<span>Buenos Aires (Argentina) </span>
					<br>
					<span><a href="#">Información de contacto</a></span>
				</div>
			</div>
			<div>
				<ul id="info-details">
					<li>
						<a href="#">
							<div class="d-flex container bg-black">
								<img class="img-info" [src]="persona.img" alt="">
							</div>
							<p><b>I.N.T.I.</b></p>
						</a>
					</li>
					<li><a href="#">
							<div class="d-flex container bg-black">
								<img src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/chemindhub2.png?alt=media&token=3e4f4203-e1a9-4bb8-a263-11ad9ee6fd04" alt="" width="2vw" height="2vw">
							</div>
							<h2>Argentina Programa - MINDHUB</h2>
						</a></li>
				</ul>
			</div>
		</div>
		<div id="info-actions">
			<button class="btn btn-primary" type="button">Tengo interés en</button>
			<button class="btn btn-light" type="button">Añadir sección</button>
			<button class="btn btn-light" type="button">Más</button>
		</div>
	</div>
</div>