<mat-toolbar color="primary">
  Sign up flow with Firebase

  <ng-container *ngIf="authService.currentUser$ | async as user">
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </ng-container>

  <button mat-button routerLink="login">
    <mat-icon>login</mat-icon>
    Login
  </button>
</mat-toolbar>

<div class="content">

</div>

<router-outlet></router-outlet>



<!--
<mat-card>
  <h2>Autenticación</h2>
  <mat-form-field>
    <input matInput type="email" [(ngModel)]="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="Contraseña">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="register()">Registrar</button>
  <button mat-raised-button color="accent" (click)="login()">Iniciar Sesión</button>
  <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
</mat-card> -->
