<div class="container">
	<div class="row">
		<div class="layout">
		<a href="https://www.argentinaprograma.com" tooltip="Argentina Programa">
            <img id="logoAP"
				src="https://firebasestorage.googleapis.com/v0/b/front-ad0dc.appspot.com/o/logoArgProg.png?alt=media&token=abb59739-47fa-4585-9fbd-ad7d7c36a9ed"
				alt="logo-AP" /></a>
			<div class="social">
				<app-social></app-social>
				<button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">
					Iniciar sesión
				</button>
				<button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">
					Cerrar sesión
				</button>
			</div>
		</div>
	</div>
</div>