/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap-icons/font/bootstrap-icons.css";
.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip::after {
	content: attr(data-tooltip);
	position: absolute;
	background-color: #333;
	color: #ae4949;
	padding: 8px;
	border-radius: 4px;
	font-size: 14px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}
.cCard {
	width: 90vw;
	margin: 5px;
}

li {
	list-style: none;
}
/*
@font-face {
	font-family: 'Poppins';
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
}

@keyframes l7 {
	0% { background-position: 0 0, 0 100%, 100% 100% }
	25% { background-position: 100% 0, 0 100%, 100% 100% }
	50% { background-position: 100% 0, 0 0, 100% 100% }
	75% { background-position: 100% 0, 0 0, 0 100% }
	100% { background-position: 100% 100%, 0 0, 0 100% }
}

@media only screen and (max-width: 319px) {
	.ttit { font-size: 3vw; }
}
 */
/* ▓▓▒░▓▓ */
/*
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.ttit { font-size: 3vw; }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.ttit { font-size: 3vw; }
}


@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.ttit { font-size: 3vw; }
	}

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	.ttit { font-size: 3vw; }
}

@media only screen and (min-width: 2560px) {
	.ttit { font-size: 3vw; }
} */
