<!-- <div class="compo"> -->
<mat-toolbar color="primary" class="navbar" mat-elevation-z5>
	<div class="container justify-content-center align-items-center">
		<a href="https://argentinaprograma.inti.gov.ar" target="_blank" rel="noopener" mat-button
			class="full-width-link" matTooltip="Argentina Programa..." matTooltipClass="custom-tooltip"
			matTooltipPosition="right">
			<img src="./../../../assets/media/logoArgProg.png" alt="AP" class="icon">
		</a>
	</div>
	<div class="container justify-content-center align-items-center">
		Proyecto AP
	</div>
	<div class="container justify-content-center align-items-center">
		<div class="container justify-content-center align-items-center shadow">
			<a mat-raised-button class="full-width-link" href="https://github.com/HCanestraro" target="_blank"
				rel="noopener" matTooltip="Github..." matTooltipClass="custom-tooltip" matTooltipPosition="right">
				<img src="./../../../assets/media/chegithub.png" alt="Github" class="icon">
			</a>
			<a mat-raised-button class="full-width-link" href="https://facebook.com/hernancanestraro1976"
				target="_blank" rel="noopener" matTooltip="Facebook..." matTooltipClass="custom-tooltip"
				matTooltipPosition="right">
				<img src="./../../../assets/media/chefacebook.jpg" alt="Facebook" class="icon">
			</a>
			<a mat-button class="full-width-link" href="https://ar.linkedin.com/in/hernan-canestraro-44448435"
				target="_blank" rel="noopener" matTooltip="Linkedin..." matTooltipClass="custom-tooltip"
				matTooltipPosition="right">
				<img src="./../../../assets/media/chelinkedin.png" alt="Linkedin" class="icon">
			</a>
			<a mat-button class="full-width-link" href="https://instagram.com/@canestraro-che" target="_blank"
				rel="noopener" matTooltip="Instagram..." matTooltipClass="custom-tooltip" matTooltipPosition="right">
				<img src="./../../../assets/media/cheinstagram.png" alt="Instagram..." class="icon">
			</a>
			<a mat-button class="full-width-link" href="https://www.twitter.com/@canestraro-che" target="_blank"
				rel="noopener" matTooltip="X - Twitter..." matTooltipClass="custom-tooltip" matTooltipPosition="right">
				<img src="./../../../assets/media/chetwitter.png" alt="X - Twitter" class="icon">
			</a>
			<a mat-button class="full-width-link" href="https://www.youtube.com/@HCanestraro" target="_blank"
				rel="noopener" matTooltip="YouTube..." matTooltipClass="custom-tooltip" matTooltipPosition="right">
				<img src="./../../../assets/media/cheyoutube.png" alt="YouTube" class="icon">
			</a>
			<a mat-button class="full-width-link" href="https://sites.google.com/view/HCanestraro" target="_blank"
				title="Go to Google Sites..." rel="noopener" matTooltip="Sites Google..."
				matTooltipClass="custom-tooltip" matTooltipPosition="right">
				<img src="./../../../assets/media/chegooglesites.jpeg" alt="Sites Google" class="icon">
			</a>
		</div>
	</div>
	<ng-container *ngIf="user$ | async as user; else loginButton">
		<button mat-button [matMenuTriggerFor]="userMenu">
			<img width="30" height="30" class="profile-image-toolbar" src='./../assets/media/chedata1foto.png'
				alt="{{ user.displayName }}" /><!-- [src]="user.photoURL ?? -->
			<!-- {{ user.displayName }} -->
			<mat-icon>expand_more</mat-icon>
		</button>
	</ng-container>
	<ng-template #loginButton>
		<button mat-button routerLink="login">
			<mat-icon>login</mat-icon>
			Login
		</button>
	</ng-template>
</mat-toolbar>
<!-- </div> -->
<div class="content">
	<router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
	<button mat-menu-item routerLink="/profile">
		<mat-icon>account_circle</mat-icon>
		Profile
	</button>
	<button mat-menu-item (click)="logout()">
		<mat-icon>logout</mat-icon>
		Logout
	</button>
</mat-menu>
<!-- <app-banner></app-banner>
<app-about></app-about>
<app-experiencia></app-experiencia> -->
<app-portfolio></app-portfolio>
<app-footer></app-footer>
